{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootclass="table table-dark"strap/4.4.1/js/bootstrap.min.js"></script>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <h3>Add Enquiry</h3>
    <fieldset>
    <table class="table table-light">
        <tr>
            <th>{{form.name.label}}</th>
            <td>{{form.name(size=32,autofocus=True)}}
    {% for error in form.name.errors %}
    <span style="color:hsl(0, 75%, 50%);">{{error}}</span>
    {% endfor %}</td>
</tr>   
    
<tr>
    <th>{{form.mobno.label}}</th>
    <td>{{form.mobno(size=32)}}
    {% for error in form.mobno.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}</td>
</tr> 
    
<tr>
        <th>{{form.email.label}}</th>
    <td>{{form.email(size=32)}}
    {% for error in form.email.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}</td>
</tr> 
    
<tr>
    <th>{{form.yearofpass.label}}</th>
    <td>{{form.yearofpass(size=32)}}
            {% for error in form.yearofpass.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}</td>
</tr>

  
<th>{{form.highqual.label}}</th>
        <td>{{form.highqual(size=32)}}
        {% for error in form.highqual.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}</td>
    </tr>
    <tr>
        <th> {{form.location.label}}</th>
        <td>{{form.location(size=32)}}
            {% for error in form.location.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}</td>
        </tr>
        <tr>
            <th>{{form.prefercourse.label}}</th>
            <td>{{form.prefercourse()}}
                {% for error in form.prefercourse.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
            </tr>
            <tr>
                <th>{{form.source.label}}</th>
                <td>{{form.source()}}
                    {% for error in form.source.errors %}
                        <span style="color:red;">{{error}}</span>
                    {% endfor %}</td>
                </tr>
            <tr>
                <th>{{form.status.label}}</th>
                <td>{{form.status()}}
                    {% for error in form.status.errors %}
                        <span style="color:red;">{{error}}</span>
                    {% endfor %}</td>
                </tr>
                <tr><td></td>
                    <td>{{form.submit()}}</td>
                </tr>
                <tr><td></td>
                    <td><a href="{{url_for('view_enquiry')}}">Back to Menu..</td> 
            </tr>
            
            </table>
    
    </fieldset>    
</form>

{% endblock %}