
#logo img{

    height: 10%;
    width: 18%;
}
#logo{
    background-color: darkgrey;
}


#footer {
	background-color: #0D170F;
    height: 50px; 
    width: 77em;
    margin:auto;
}
#footer-content{
    text-align: center;
    color: azure;

}


